<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    </head>
    <body>

    <nav>
        <ul>
            <li>
                <a href="{{ path('ciagle-pada') }}">Ciągle pada</a>
            </li>

            <!-- A -->

            <li>
                <a href="{{ path('autobiografia') }}">Autobiografia</a>
            </li>

            <!-- B -->
            <li>
                <a href="{{ path('beat-it') }}">Beat it</a>
            </li>

            <!-- C -->
                    <li>
                        <a href="{{ path('rozkwitaly-paki-bialych') }}"> Rozkwitały pąki białych róż </a>
                    </li>

            <!-- D -->
                    <li>
                     <a href="{{ path('biber') }}">Biber song</a>
                    </li>

            <!-- E -->

            <li>
                <a href="{{ path('Endless') }}">Endless</a>
            </li>

            <!-- F -->
         
             <li>
                <a href="{{ path('bystra-woda') }}">Bystra Woda</a>
            </li> 
            
            <li>
                <a href="{{ path('panie janie') }}">Panie Janie</a>
            </li> 
                         
            <!-- G -->
             

            <!-- H -->
            
            <li>
                <a href="{{ path('melodia-ulotna') }}">Melodia Ulotna</a>
            </li>

            <!-- I -->


            <!-- J -->
            
            <li>
                <a href="{{ path('juvenile') }}">Juvenile</a>
            </li>


            <!-- K -->
            
<li>
                <a href="{{ path('korowody') }}">Korowody</a>
            </li>

            <!-- L -->

        <li>
            <a href="{{ path('lato') }}">lato</a>
        </li>

            <!-- M -->
            
            <li>
                <a href="{{ path('piosenka-mury') }}">Mury</a>
            </li>
            <li>
                <a href="{{ path('piosenka-maps') }}">Maps</a>
            </li>

            <!-- N -->


            <!-- O -->


            <!-- P -->

            <li>
                <a href="{{ path('Perfect') }}">Perfect</a>
            </li>


            <!-- Q -->


            <!-- R -->
            
            <li>
            <a href="{{ path('rplayboys') }}">Playboys - wchodze na parkiet</a>
            </li>


            <!-- S -->
             <li>
            <a href="{{ path('Stop') }}">Stop</a>
             </li>

            <!-- T -->


            <!-- U -->

            <li>
                <a href="{{ path('urke') }}">Urke</a>
            </li>
            
            <!-- V -->


            <!-- W -->


            <!-- X -->


            <!-- Y -->


            <!-- Z -->


        </ul>
    </nav>


        {% block body %}{% endblock %}

    <footer>Version: 0.2.1</footer>

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
